.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    background-color: #fff;
  }
  
  .carousel-track {
    display: flex;
    width: fit-content;
    animation: scroll-left 20s linear infinite;
  }
  
  .carousel-wrapper:hover .carousel-track {
    animation-play-state: paused;
  }
  
  .carousel-img {
    width: 250px;
    height: 150px;
    margin: 0 10px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Animation */
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  